nav {
    width: 80vw;
    height: 10vh;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
nav a:hover {
    text-decoration: underline;
}