body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    width: 80vw;
    height: 5vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
nav a:hover {
    text-decoration: underline;
}