body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    width: 80vw;
    height: 5vh;
    min-height: 2.5em;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5%;
}
nav a {
    color: blue;
}
a:hover {
    text-decoration: underline;
}
#current_page {
    font-weight: bolder;
}
.campouts h4 {
    font-size: 2em;
    font-weight: bolder;

}

.campouts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 500px;
    width: 500px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.campouts img {
    max-height: 30%;
}