body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
}
nav {
    width: 90vw;
    height: 5vh;
    min-height: 2.5em;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2.5vh;
    position: fixed;
    top: 8px;
}
nav a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}



#campouts_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
}

#current_page {
    font-weight: bolder;
}

.campouts h4 {
    font-size: 2em;
    font-weight: bolder;
    margin: 0px;
}

.campouts h6 {
    margin-top: 0%;
    margin-bottom: 2%;
}

.campouts p {
    display: none;
}

.campouts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 250px;
    width: 250px;
    background-color: aliceblue;
    border-radius: 25px;
}

/* may need to fix later -- heights and stuff */
.campouts img {
    max-height: 60%; 
    max-width: 250px;
}